<%= form_with(model: user, local: true) do |form| %>
  <% if current_user %>
    <h3>Change password</h3>
  <% else %>
    <h3>Sign up</h3>
  <% end %>


  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% if user.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
