<!doctype html>
<html lang="en">
<head>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carousel Template for Bootstrap</title>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/blogpostverfassen/index"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/einstellungen/index">Einstellungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/login/index">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">


  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="/assets/nbaCourt.jpg" alt="First slide";
        >
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 style="color:black;font-size: 150px; text-align:center">NBA Season</h1>
          </div>
        </div>
      </div>
    </div>



  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to 'Log Out', logout_path %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %> or
        <%= link_to 'Log In', login_path %>
      <% end %>
      <p id='notice'><%= notice %></p><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <ul>

      <% @posts.each do |p| %>
        <li class="row featurette">
          <h3><%=p.title%></h3>
          <p class="lead"> <%= p.body %>
          <% if current_user %>
            <%= link_to "Edit", edit_post_path(p.id) %>
          <%= link_to "Delete", post_path(p.id), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </li>
        <hr class="featurette-divider">
      <% end %>
    </ul>

    <!-- START THE FEATURETTES -->


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
</body>
</html>

