<body>
<link href="application.scss" rel="stylesheet">


<p id=”alert”><%= alert %></p>
<h1>Login</h1><%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>  <div class=”field”>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>  <div class=”actions”>
  <%= submit_tag 'login' %>
</div>
<% end %>

</body>

<style>


    body {
        background-image: url("/assets/vincecarterdunk.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 100vh;
    }

    form.login {
        background-color: white;
        width: 350px;
        margin-left: 100px;
        margin-top: 300px;
    }

    form.login label{
        display: block;
        margin-left: 30px;
        margin-top: 20px;
    }
    form.login h3 {
        margin-left: 20px;
        margin-top: 50px;


    }

    input.fields{
        width: 200px;
    }
    input.button{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    form.login p {
        margin-left: 30px;
        margin-bottom: 0px;
        margin-top: 10px;
        padding-bottom: 0px;
    }



</style>